.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
    width: 100%;
    position: fixed;
    position: fixed;
    z-index: 5;
    transition: .5s;
    opacity: 1;
    padding: 1rem 2rem;
}

.nav>.nav-btn {
    display: none;
}

.nav-item {
    padding: 0.5rem;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
}

.nav-item:hover {
    color: var(--first-color-lighter);
    border-bottom: 2px solid var(--first-color-lighter);
}

.fix {
    opacity: .8;
}

@media (max-width:600px) {
    .fix {
        opacity: 1;
    }
    .nav-item {
        padding: 0.8rem;
    }
    .nav>.nav-btn {
        width: 100%;
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: #fff;
    }
    .nav>.nav-btn>.nav-button {
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-top: 2px solid #eee;
        margin-left: auto;
    }
    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
        background-color: #fff;
    }
    .nav>.nav-links>.nav-item {
        display: block;
    }
    .close {
        height: 0px !important;
    }
    .open {
        height: calc(100vh - 50px) !important;
        overflow-y: auto !important;
    }
}