.siderbar {
    width: 260px;
    min-height: 800px;
    position: absolute;
    left: 0;
    top: 500px;
    background-color: var(--scroll-bar-color);
    transform: translateX(0%);
    transition: .5s;
}

.bar-handler {
    display: none;
    width: 30px;
    height: 50px;
    background-color: var(--scroll-bar-color);
    position: absolute;
    top: 40%;
    right: -30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.menus li span {
    position: absolute;
    right: 20px;
    transform: rotate(0);
    transition: .3s;
}

.menus li:hover {
    cursor: pointer;
}

.menus li a {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    line-height: var(--big-font-size);
    display: block;
    width: 100%;
    padding-left: 20px;
    border-bottom: 1px solid var(--first-color-alt);
}

.menu-open ul {
    display: block;
}

.menu-close ul {
    display: none;
}

.menu-close .arrow {
    transform: rotate(180deg);
}

.menu-list li {
    font-size: var(--normal-font-size);
    color: var(--text-color-light);
    line-height: 2;
}

.menu-list li a {
    transition: .3s;
    padding-left: 30px;
}

.menu-list li a:hover {
    border-left: 5px solid var(--first-color);
    padding-left: 40px;
    color: var(--first-color);
}

@media screen and (max-width: 1200px) {
    .siderbar {
        transform: translateX(-100%);
    }
    .siderbar-open {
        transform: translateX(0%);
    }
    .bar-handler {
        display: block;
    }
}